<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Results</title>
  <title>Search Books</title>
  <link href="../../../reset.css" type="text/css" rel="stylesheet"/>
  <link href="../../../base.css" type="text/css" rel="stylesheet"/>
  <link href="../../../layout.css" type="text/css" rel="stylesheet"/>
  <link href="../../../modules.css" type="text/css" rel="stylesheet"/>
  <link href="../../../icons.css" type="text/css" rel="stylesheet"/>
</head>
<body>
  
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/searches/new" >Look for a book!</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <ul>
      <% for (let i = 0; i < result_list.length; i++) {%>
      <li>
        <img src="<%= result_list[i].img %>" alt="book cover of <%= result_list[i].title %>">
        <h2><%= result_list[i].author %></h2>
        <h3><%= result_list[i].title %></h3>

      </li>
      <form action="/book" method="POST">
        <input name="id" type="hidden" value="<%=result_list[i].id%>">
        <input name="author" type="hidden" value="<%= result_list[i].author%>">
        <input name="title" type="hidden" value="<%= result_list[i].title%>">
        <input name="synopsis" type="hidden" value="<%= result_list[i].synopsis%>">
        <input name="img" type="hidden" value="<%= result_list[i].img%>">
        <button type="submit">Save Me!</button>
      </form>
      <% } %>
    </ul>


    <script src="../../../server.js"></script>
  </main>
</body>
</html>