<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Saved Book Details</title>

  <title>Search Books</title>
  <link href="../../reset.css" type="text/css" rel="stylesheet"/>
  <link href="../../base.css" type="text/css" rel="stylesheet"/>
  <link href="../../layout.css" type="text/css" rel="stylesheet"/>
  <link href="../../modules.css" type="text/css" rel="stylesheet"/>
  <link href="../../icons.css" type="text/css" rel="stylesheet"/>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/searches/new" >Look for a book!</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <!--  the sqlres data -->
  <img src="<%= sqlres.image_url %>" alt="book cover of <%= sqlres.title %>">

  <h2><%= sqlres.author %></h2>

  <h3><%= sqlres.title %></h3>

  <p><%= sqlres.description %></p>

  </main>
</body>