<%- include ('../../partials/he-partials.ejs') %>
<body>
<%- include ('../../partials/er-partials.ejs') %>

  <main>
  <img src="<%= result_list.image_url %>" alt="book cover of title">

  <h2><%= result_list.author %></h2>
  <h3><%= result_list.title %></h3>


  <p><%= result_list.description %></p>

  </main>
</body>