<%- include ('../../partials/er-partials.ejs') %>


<img src="<%= result_list.img %>" alt="book cover of title">

<h2><%= result_list.author %></h2>
<h3><%= result_list.title %></h3>
<a href="pages/detail"></a>

<p><%= result_list.description %></p>