<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book App Home</title>

  <title>Search Books</title>
  <link href="../../reset.css" type="text/css" rel="stylesheet"/>
  <link href="../../base.css" type="text/css" rel="stylesheet"/>
  <link href="../../layout.css" type="text/css" rel="stylesheet"/>
  <link href="../../modules.css" type="text/css" rel="stylesheet"/>
  <link href="../../icons.css" type="text/css" rel="stylesheet"/>

</head>

<body>

  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="./searches/new" >Look for a book!</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <h1>We are not professionals.</h1>
    <h4><%= result_list.length %> in your library</h4>

    <ul>
      <% for (let i = 0; i < result_list.length; i++) { %>
      <li>
        <img src="<%= result_list[i].image_url %>" alt="book cover of title">

        <h2><%= result_list[i].author %></h2>
        <h3><%= result_list[i].title %></h3>
        
        <a href="/book/<%= result_list[i].id %>">Details</a>
      </li>
      <% } %>
      
    </ul>
  
</body>
</html>